<div class="container">
    <div class="row">
        <div id="catalog" class="content col-sm-12 col-md-9" data-ng-class="{loading : vm.loadingMain}">
            <div class="category-img" data-ng-class="{narrow: vm.filter.terms !== '' || vm.filter.tags.length > 0 || vm.filter.levels.length > 0}"
                 data-ng-if="vm.randomSite">
                <img class="replace-2x" data-ng-src="{{vm.randomSite.image.thumbpath}}" width="870"
                     height="270" alt="">

                <div class="description">
                    In de kijker: {{vm.randomSite.name}}<br>
                    <small>{{vm.randomSite.description}}</small>
                </div>
            </div>

            <div class="toolbar clearfix">
                <div class="col-md-9 col-sm-7">
                    <input class="search-string form-control" type="search" placeholder="Start hier met zoeken" autofocus
                           data-ng-model="vm.filter.terms">
                </div>

                <div class="sort-catalog col-md-3 col-sm-5">
                    <div class="counter">
                        {{vm.filtered.length}} website{{vm.filtered.length !== 1 ? 's' : ''}} gevonden
                    </div>
                    <div class="btn-group show-by btn-select">
                        <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown">Toon:
                            <span data-ng-bind="vm.itemsPerPage"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" data-ng-click="vm.itemsPerPage=10">10</a></li>
                            <li><a href="javascript:void(0);" data-ng-click="vm.itemsPerPage=20">20</a></li>
                            <li><a href="javascript:void(0);" data-ng-click="vm.itemsPerPage=50">50</a></li>
                        </ul>
                    </div>
                    <!-- .show -->
                    <span class="per-page">per pagina</span>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="products list row">
                <div class="well bg-info white" data-ng-if="vm.filtered.length === 0">
                    Er werden geen websites gevonden met uw zoektermen. <br/>
                    Gebruik andere woorden, of vink enkele filters af.
                </div>


                <div class="product"
                     data-ng-repeat="website in vm.filtered | offset: (vm.currentPage-1)*vm.itemsPerPage | limitTo: vm.itemsPerPage">
                    <div class="col-sm-4 col-md-4">
                        <a data-ng-href="{{website.url}}" target="_blank" class="product-image">
                            <img class="replace-2x" data-ng-src="{{website.image.thumbpath}}" alt="" title=""
                                 width="270" height="270">
                        </a>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <h3 class="product-name">
                            <a data-ng-href="{{website.url}}" target="_blank" data-ng-bind="website.name"></a>
                        </h3>

                        <div class="reviews-box">
                            <i class="fa fa-tags"></i>
                            <span data-ng-repeat="tag in website.tags">
                                <a href="javascript:void(0);" data-ng-bind="tag.name"
                                   data-ng-click="vm.addTagFilter(tag)"></a>
                                <span data-ng-if="!$last" class="separator">|</span>
                            </span>
                        </div>
                        <div class="well well-xs small" data-ng-if="website.description" data-ng-bind="website.description"></div>

                        <div class="">
                            <ul class="list-unstyled">
                                <li data-ng-repeat="objective in website.objectives">
                                    <i class="fa"
                                       data-ng-class="!objective.parent ? 'fa-angle-double-right' : 'fa-angle-right'"></i>
                                    <strong data-ng-if="!objective.parent">{{objective.name}}</strong>
                                    <span data-ng-if="objective.parent">{{objective.name}}</span>
                                    <em class="small">({{objective.code}})</em>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- .product -->
            </div>
            <!-- .products -->

            <div class="pagination-box">
                <pagination total-items="vm.totalItems" ng-model="vm.currentPage" max-size="5"
                            items-per-page="vm.itemsPerPage"
                            class="pagination-sm" boundary-links="true"
                            data-first-text="«" data-last-text="»" data-next-text="›"
                            data-previous-text="‹" data-ng-show="vm.paginationText !== ''"
                            data-ng-change="vm.pageChanged()"></pagination>
                <i class="pagination-text" data-ng-bind="vm.paginationText"></i>
            </div>
            <!-- .pagination-box -->
        </div>
        <!-- .content -->

        <div id="sidebar" class="sidebar col-sm-12 col-md-3">
            <aside class="widget shop-by">
                <header>
                    <h3 class="title">Filter</h3>
                </header>
                <div class="section" data-ng-show="vm.filter.levels.length || vm.filter.tags.length">
                    <h4 class="subtitle">Je zoekt nu op:</h4>
                    <ul class="selected">
                        <li data-ng-repeat="level in vm.filter.levels | orderBy:'id'">
                            <span><i class="fa fa-angle-right"></i> Leeftijd: <span
                                    data-ng-bind="level.description"></span></span>
                            <a href="javascript:void(0);" data-ng-click="vm.removeLevelFilter(level)"
                               class="close">×</a>
                        </li>

                        <li data-ng-repeat="tag in vm.filter.tags | orderBy:'name'">
                            <span><i class="fa fa-angle-right"></i> Trefwoord: <span
                                    data-ng-bind="tag.name"></span></span>
                            <a href="javascript:void(0);" data-ng-click="vm.removeTagFilter(tag)" class="close">×</a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h4 class="subtitle">Leeftijd</h4>
                    <ul data-ng-class="{loading : vm.loadingLevels}">
                        <li data-ng-repeat="level in vm.levels | orderBy:'id' | limitTo: vm.levelLimit">
                            <i class="fa fa-angle-right"></i> <a href="javascript:void(0);"
                                                                 data-ng-click="vm.addLevelFilter(level)"
                                                                 data-ng-bind="level.description"></a>
                        </li>
                        <li class="more" data-ng-show="vm.levels.length > 3 && vm.levelLimit === 3">
                            <a href="javascript:void(0);" class="small"
                               data-ng-click="vm.levelLimit=vm.levels.length">
                                <i class="fa fa-caret-down"></i> toon meer
                            </a>
                        </li>
                        <li class="more" data-ng-show="vm.levels.length > 3 && vm.levelLimit === vm.levels.length">
                            <a href="javascript:void(0);" class="small" data-ng-click="vm.levelLimit=3">
                                <i class="fa fa-caret-up blue"></i> toon minder
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h4 class="subtitle">Trefwoord</h4>
                    <ul data-ng-class="{loading : vm.loadingTags}">
                        <li data-ng-repeat="tag in vm.tags | orderBy:'name' | limitTo: vm.tagLimit">
                            <i class="fa fa-angle-right"></i> <a href="javascript:void(0);"
                                                                 data-ng-click="vm.addTagFilter(tag)"
                                                                 data-ng-bind="tag.name"></a>
                        </li>
                        <li class="more" data-ng-show="vm.tags.length > 3 && vm.tagLimit === 3">
                            <a href="javascript:void(0);" class="small" data-ng-click="vm.tagLimit=vm.tags.length">
                                <i class="fa fa-caret-down"></i> toon meer
                            </a>
                        </li>
                        <li class="more" data-ng-show="vm.tags.length > 3 && vm.tagLimit === vm.tags.length">
                            <a href="javascript:void(0);" class="small" data-ng-click="vm.tagLimit=3">
                                <i class="fa fa-caret-up"></i> toon minder
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- .filter-by -->

        </div>
    </div>
</div><!-- .container -->